

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>StationsComponent &mdash; LASIF 0.0.1 documentation</title>
  

  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  

  

  
    <link rel="top" title="LASIF 0.0.1 documentation" href="../index.html"/>
        <link rel="up" title="API Components" href="components.html"/>
        <link rel="next" title="WaveformsComponent" href="waveforms.html"/>
        <link rel="prev" title="IterationsComponent" href="iterations.html"/> 

  
  <script src="../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../index.html" class="icon icon-home"> LASIF
          

          
          </a>

          
            
            
              <div class="version">
                0.0.1
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
                <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../prerequisites.html">Installation, Testing &amp; DevInfo</a></li>
<li class="toctree-l1"><a class="reference internal" href="../introduction.html">Introduction</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tutorial.html">Tutorial</a></li>
<li class="toctree-l1"><a class="reference internal" href="../cli.html">Command Line Interface</a></li>
<li class="toctree-l1"><a class="reference internal" href="../webinterface.html">Web Interface</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../api_doc.html">API Documentation</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../iris2quakeml.html">lasif.scripts.iris2quakeml</a></li>
<li class="toctree-l2"><a class="reference internal" href="../ses3d_setup_helper.html">SES3D Setup Assistant</a></li>
<li class="toctree-l2"><a class="reference internal" href="../iteration_xml.html">lasif.iteration_xml</a></li>
<li class="toctree-l2"><a class="reference internal" href="../rotations.html">lasif.rotations</a></li>
<li class="toctree-l2"><a class="reference internal" href="../window_selection.html">lasif.window_selection</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tools.html">lasif.tools</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tools.parallel.html">lasif.tools.parallel</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tools.file_info_cache.html">lasif.tools.file_info_cache</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="components.html">API Components</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="events.html">EventsComponent</a></li>
<li class="toctree-l3"><a class="reference internal" href="inventory_db.html">InventoryDBComponent</a></li>
<li class="toctree-l3"><a class="reference internal" href="iterations.html">IterationsComponent</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="">StationsComponent</a></li>
<li class="toctree-l3"><a class="reference internal" href="waveforms.html">WaveformsComponent</a></li>
<li class="toctree-l3"><a class="reference internal" href="query.html">QueryComponent</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../how_lasif_finds_coordinates.html">How LASIF Finds Coordinates</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../faq.html">FAQ</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="../index.html">LASIF</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          





<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="../index.html">Docs</a> &raquo;</li>
      
        <li><a href="../api_doc.html">API Documentation</a> &raquo;</li>
      
        <li><a href="components.html">API Components</a> &raquo;</li>
      
    <li>StationsComponent</li>
    <li class="wy-breadcrumbs-aside">
      
        
          <a href="../_sources/components/stations.txt" rel="nofollow"> View page source</a>
        
      
    </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="stationscomponent">
<h1>StationsComponent<a class="headerlink" href="#stationscomponent" title="Permalink to this headline">¶</a></h1>
<dl class="class">
<dt id="lasif.components.stations.StationsComponent">
<em class="property">class </em><code class="descclassname">lasif.components.stations.</code><code class="descname">StationsComponent</code><span class="sig-paren">(</span><em>stationxml_folder</em>, <em>seed_folder</em>, <em>resp_folder</em>, <em>cache_folder</em>, <em>communicator</em>, <em>component_name</em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/stations.html#StationsComponent"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.stations.StationsComponent" title="Permalink to this definition">¶</a></dt>
<dd><p>Component responsible for dealing with station information in either
StationXML, SEED, or RESP formats. The information is always bound to a
specific channel and time and never to the whole station despite the
name of this component. Always use this component to get the required
station related information
and do not do it yourself.</p>
<p>StationXML files must adhere to the naming scheme <code class="docutils literal"><span class="pre">*.xml</span></code>, SEED files
to <code class="docutils literal"><span class="pre">dataless.*</span></code>, and RESP files to <code class="docutils literal"><span class="pre">RESP.*</span></code>. They must be stored in
separate, non-nested folders.</p>
<p>The term <code class="docutils literal"><span class="pre">channel_id</span></code> always means the full SEED identifier,
e.g. network, station , location, and channel codes.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first last simple">
<li><strong>stationxml_folder</strong> &#8211; The StationXML folder.</li>
<li><strong>seed_folder</strong> &#8211; The dataless SEED folder.</li>
<li><strong>resp_folder</strong> &#8211; The RESP files folder.</li>
<li><strong>cache_folder</strong> &#8211; The folder where the cache file should be
stored. The file will be named <code class="docutils literal"><span class="pre">station_cache.sqlite</span></code>.</li>
<li><strong>communicator</strong> &#8211; The communicator instance.</li>
<li><strong>component_name</strong> &#8211; The name of this component for the
communicator.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<dl class="attribute">
<dt id="lasif.components.stations.StationsComponent.file_count">
<code class="descname">file_count</code><a class="headerlink" href="#lasif.components.stations.StationsComponent.file_count" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns the total number of station files.</p>
</dd></dl>

<dl class="method">
<dt id="lasif.components.stations.StationsComponent.force_cache_update">
<code class="descname">force_cache_update</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/stations.html#StationsComponent.force_cache_update"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.stations.StationsComponent.force_cache_update" title="Permalink to this definition">¶</a></dt>
<dd><p>Update the station cache.</p>
<p>The station cache is used to cache the information on stations so
LASIF does not constantly open files which would be very slow. This
method is only necessary if you change/add/remove a station file and
need it to be reflected immediatly. The next invocation of LASIF
will update the cache automatically.</p>
</dd></dl>

<dl class="method">
<dt id="lasif.components.stations.StationsComponent.get_all_channels">
<code class="descname">get_all_channels</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/stations.html#StationsComponent.get_all_channels"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.stations.StationsComponent.get_all_channels" title="Permalink to this definition">¶</a></dt>
<dd><p>Get information about all available channels at all points in time.</p>
<p>Returns a list of dictionaries.</p>
<p>Mainly useful for testing and debugging. For real applications use
<a class="reference internal" href="#lasif.components.stations.StationsComponent.get_all_channels_at_time" title="lasif.components.stations.StationsComponent.get_all_channels_at_time"><code class="xref py py-meth docutils literal"><span class="pre">get_all_channels_at_time()</span></code></a> which will return all channels
active at a certain point in time.</p>
<div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="n">comm</span> <span class="o">=</span> <span class="n">getfixture</span><span class="p">(</span><span class="s">&#39;stations_comm&#39;</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="kn">import</span> <span class="nn">pprint</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">pprint</span><span class="o">.</span><span class="n">pprint</span><span class="p">(</span><span class="nb">sorted</span><span class="p">(</span><span class="n">comm</span><span class="o">.</span><span class="n">stations</span><span class="o">.</span><span class="n">get_all_channels</span><span class="p">(),</span>
<span class="gp">... </span>                     <span class="n">key</span><span class="o">=</span><span class="k">lambda</span> <span class="n">x</span><span class="p">:</span> <span class="n">x</span><span class="p">[</span><span class="s">&quot;channel_id&quot;</span><span class="p">],</span> <span class="n">reverse</span><span class="o">=</span><span class="bp">True</span><span class="p">))</span>        
<span class="go">[{&#39;channel_id&#39;: u&#39;IU.PAB.00.BHE&#39;,</span>
<span class="go">  &#39;elevation_in_m&#39;: 950.0,</span>
<span class="go">  &#39;end_date&#39;: UTCDateTime(2009, 8, 13, 19, 0),</span>
<span class="go">  &#39;filename&#39;: u&#39;.../station_files/seed/dataless.IU_PAB&#39;,</span>
<span class="go">  &#39;latitude&#39;: 39.5446,</span>
<span class="go">  &#39;local_depth_in_m&#39;: 0.0,</span>
<span class="go">  &#39;longitude&#39;: -4.349899,</span>
<span class="go">  &#39;start_date&#39;: UTCDateTime(1999, 2, 18, 10, 0)}, {...}, ...]</span>
</pre></div>
</div>
<p>Returns a list of dictionaries, each with the following keys:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="nb">sorted</span><span class="p">(</span><span class="n">comm</span><span class="o">.</span><span class="n">stations</span><span class="o">.</span><span class="n">get_all_channels</span><span class="p">()[</span><span class="mi">0</span><span class="p">]</span><span class="o">.</span><span class="n">keys</span><span class="p">())</span>         
<span class="go">[&#39;channel_id&#39;, &#39;elevation_in_m&#39;, &#39;end_date&#39;, &#39;filename&#39;, &#39;latitude&#39;,</span>
<span class="go"> &#39;local_depth_in_m&#39;, &#39;longitude&#39;, &#39;start_date&#39;]</span>
</pre></div>
</div>
<p>The values for <code class="docutils literal"><span class="pre">end_date</span></code> and <code class="docutils literal"><span class="pre">local_depth_in_m</span></code> can be <code class="docutils literal"><span class="pre">None</span></code>.</p>
</dd></dl>

<dl class="method">
<dt id="lasif.components.stations.StationsComponent.get_all_channels_at_time">
<code class="descname">get_all_channels_at_time</code><span class="sig-paren">(</span><em>time</em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/stations.html#StationsComponent.get_all_channels_at_time"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.stations.StationsComponent.get_all_channels_at_time" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns a dictionary with coordinates for all channels available at
a certain point in time.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><strong>time</strong> (<code class="docutils literal"><span class="pre">int</span></code> or <a class="reference external" href="http://docs.obspy.org/packages/autogen/obspy.core.utcdatetime.UTCDateTime.html#obspy.core.utcdatetime.UTCDateTime" title="(in ObsPy Documentation (0.10.2) v0.10)"><code class="xref py py-class docutils literal"><span class="pre">UTCDateTime</span></code></a>) &#8211; The time or timestamp at which to return available
channels.</td>
</tr>
<tr class="field-even field"><th class="field-name">Returns:</th><td class="field-body">All available coordinates. The keys are the channel ids
and the values are dictionaries with the coordinates.</td>
</tr>
</tbody>
</table>
<div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="kn">from</span> <span class="nn">obspy</span> <span class="kn">import</span> <span class="n">UTCDateTime</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">comm</span> <span class="o">=</span> <span class="n">getfixture</span><span class="p">(</span><span class="s">&#39;stations_comm&#39;</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">comm</span><span class="o">.</span><span class="n">stations</span><span class="o">.</span><span class="n">get_all_channels_at_time</span><span class="p">(</span><span class="n">UTCDateTime</span><span class="p">(</span><span class="mi">2012</span><span class="p">,</span> <span class="mi">1</span><span class="p">,</span> <span class="mi">1</span><span class="p">))</span>         
<span class="go">{u&#39;BW.FURT..EHE&#39;: {&#39;latitude&#39;: 48.162899, &#39;elevation_in_m&#39;: 565.0,</span>
<span class="go">                   &#39;local_depth_in_m&#39;: 0.0, &#39;longitude&#39;: 11.2752},</span>
<span class="go"> ...}</span>
</pre></div>
</div>
<p>It also works with timestamps.</p>
<div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="n">comm</span><span class="o">.</span><span class="n">stations</span><span class="o">.</span><span class="n">get_all_channels_at_time</span><span class="p">(</span><span class="mi">1325376000</span><span class="p">)</span>         
<span class="go">{u&#39;BW.FURT..EHE&#39;: {&#39;latitude&#39;: 48.162899, &#39;elevation_in_m&#39;: 565.0,</span>
<span class="go">                   &#39;local_depth_in_m&#39;: 0.0, &#39;longitude&#39;: 11.2752},</span>
<span class="go"> ...}</span>
</pre></div>
</div>
<p>The value for <code class="docutils literal"><span class="pre">local_depth_in_m</span></code> can be <code class="docutils literal"><span class="pre">None</span></code>.</p>
</dd></dl>

<dl class="method">
<dt id="lasif.components.stations.StationsComponent.get_channel_filename">
<code class="descname">get_channel_filename</code><span class="sig-paren">(</span><em>channel_id</em>, <em>time</em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/stations.html#StationsComponent.get_channel_filename"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.stations.StationsComponent.get_channel_filename" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns the absolute path of the file storing the information for the
given channel and time combination.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first last simple">
<li><strong>channel_id</strong> (<a class="reference external" href="http://docs.python.org/library/functions.html#str" title="(in Python v2.7)"><em>str</em></a>) &#8211; The id of the channel.</li>
<li><strong>time</strong> (<code class="docutils literal"><span class="pre">int</span></code> or <a class="reference external" href="http://docs.obspy.org/packages/autogen/obspy.core.utcdatetime.UTCDateTime.html#obspy.core.utcdatetime.UTCDateTime" title="(in ObsPy Documentation (0.10.2) v0.10)"><code class="xref py py-class docutils literal"><span class="pre">UTCDateTime</span></code></a>) &#8211; The time at which to retrieve the information.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="kn">import</span> <span class="nn">obspy</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">comm</span> <span class="o">=</span> <span class="n">getfixture</span><span class="p">(</span><span class="s">&#39;stations_comm&#39;</span><span class="p">)</span>
</pre></div>
</div>
<p>It works with <a class="reference external" href="http://docs.obspy.org/packages/autogen/obspy.core.utcdatetime.UTCDateTime.html#obspy.core.utcdatetime.UTCDateTime" title="(in ObsPy Documentation (0.10.2) v0.10)"><code class="xref py py-class docutils literal"><span class="pre">UTCDateTime</span></code></a> objects</p>
<div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="n">comm</span><span class="o">.</span><span class="n">stations</span><span class="o">.</span><span class="n">get_channel_filename</span><span class="p">(</span>  
<span class="gp">... </span>    <span class="s">&quot;IU.ANMO.10.BHZ&quot;</span><span class="p">,</span> <span class="n">obspy</span><span class="o">.</span><span class="n">UTCDateTime</span><span class="p">(</span><span class="mi">2012</span><span class="p">,</span> <span class="mi">3</span><span class="p">,</span> <span class="mi">14</span><span class="p">))</span>
<span class="go">u&#39;/.../IRIS_single_channel_with_response.xml&#39;</span>
</pre></div>
</div>
<p>and timestamps.</p>
<div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="n">comm</span><span class="o">.</span><span class="n">stations</span><span class="o">.</span><span class="n">get_channel_filename</span><span class="p">(</span>  
<span class="gp">... </span>    <span class="s">&quot;IU.ANMO.10.BHZ&quot;</span><span class="p">,</span> <span class="mi">1331683200</span><span class="p">)</span>
<span class="go">u&#39;/.../IRIS_single_channel_with_response.xml&#39;</span>
</pre></div>
</div>
</dd></dl>

<dl class="method">
<dt id="lasif.components.stations.StationsComponent.get_details_for_filename">
<code class="descname">get_details_for_filename</code><span class="sig-paren">(</span><em>filename</em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/stations.html#StationsComponent.get_details_for_filename"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.stations.StationsComponent.get_details_for_filename" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns the details for a single file. Each file can have more than
channel stored in it. Returns a list of dictionaries.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><strong>filename</strong> (<a class="reference external" href="http://docs.python.org/library/functions.html#str" title="(in Python v2.7)"><em>str</em></a>) &#8211; The name of the station file.</td>
</tr>
</tbody>
</table>
<div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="n">comm</span> <span class="o">=</span> <span class="n">getfixture</span><span class="p">(</span><span class="s">&#39;stations_comm&#39;</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">filename</span> <span class="o">=</span> <span class="nb">sorted</span><span class="p">(</span><span class="n">comm</span><span class="o">.</span><span class="n">stations</span><span class="o">.</span><span class="n">get_all_channels</span><span class="p">())[</span><span class="mi">1</span><span class="p">][</span><span class="s">&quot;filename&quot;</span><span class="p">]</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">comm</span><span class="o">.</span><span class="n">stations</span><span class="o">.</span><span class="n">get_details_for_filename</span><span class="p">(</span><span class="n">filename</span><span class="p">)</span>         
<span class="go">[{&#39;local_depth_in_m&#39;: 0.0, &#39;end_date&#39;: None, &#39;elevation_in_m&#39;: 565.0,</span>
<span class="go">  &#39;longitude&#39;: 11.2752, &#39;filename&#39;:  u&#39;/.../dataless.BW_FURT&#39;,</span>
<span class="go">  &#39;channel_id&#39;: u&#39;BW.FURT..EHZ&#39;, &#39;latitude&#39;: 48.162899,</span>
<span class="go">  &#39;start_date&#39;: UTCDateTime(2001, 1, 1, ...}, ...]</span>
</pre></div>
</div>
<p>The values for <code class="docutils literal"><span class="pre">end_date</span></code> and <code class="docutils literal"><span class="pre">local_depth_in_m</span></code> can be <code class="docutils literal"><span class="pre">None</span></code>.</p>
</dd></dl>

<dl class="method">
<dt id="lasif.components.stations.StationsComponent.get_station_filename">
<code class="descname">get_station_filename</code><span class="sig-paren">(</span><em>network</em>, <em>station</em>, <em>location</em>, <em>channel</em>, <em>file_format</em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/stations.html#StationsComponent.get_station_filename"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.stations.StationsComponent.get_station_filename" title="Permalink to this definition">¶</a></dt>
<dd><p>Function returning the filename a station file of a certain format
should be written to. Only useful as a callback function for
downloaders or other modules saving data to LASIF.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><strong>file_format</strong> (<a class="reference external" href="http://docs.python.org/library/functions.html#str" title="(in Python v2.7)"><em>str</em></a>) &#8211; &#8216;datalessSEED&#8217;, &#8216;StationXML&#8217;, or &#8216;RESP&#8217;</td>
</tr>
</tbody>
</table>
<div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="n">comm</span> <span class="o">=</span> <span class="n">getfixture</span><span class="p">(</span><span class="s">&#39;stations_comm&#39;</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">comm</span><span class="o">.</span><span class="n">stations</span><span class="o">.</span><span class="n">get_station_filename</span><span class="p">(</span>
<span class="gp">... </span>    <span class="s">&quot;BW&quot;</span><span class="p">,</span> <span class="s">&quot;FURT&quot;</span><span class="p">,</span> <span class="s">&quot;&quot;</span><span class="p">,</span> <span class="s">&quot;BHZ&quot;</span><span class="p">,</span> <span class="n">file_format</span><span class="o">=</span><span class="s">&quot;RESP&quot;</span><span class="p">)</span>        
<span class="go">&#39;/.../resp/RESP.BW.FURT..BHZ&#39;</span>
</pre></div>
</div>
<div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="n">comm</span><span class="o">.</span><span class="n">stations</span><span class="o">.</span><span class="n">get_station_filename</span><span class="p">(</span>
<span class="gp">... </span>    <span class="s">&quot;BW&quot;</span><span class="p">,</span> <span class="s">&quot;ALTM&quot;</span><span class="p">,</span> <span class="s">&quot;&quot;</span><span class="p">,</span> <span class="s">&quot;BHZ&quot;</span><span class="p">,</span> <span class="n">file_format</span><span class="o">=</span><span class="s">&quot;datalessSEED&quot;</span><span class="p">)</span>        
<span class="go">&#39;/.../seed/dataless.BW_ALTM&#39;</span>
</pre></div>
</div>
<div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="n">comm</span><span class="o">.</span><span class="n">stations</span><span class="o">.</span><span class="n">get_station_filename</span><span class="p">(</span>
<span class="gp">... </span>    <span class="s">&quot;BW&quot;</span><span class="p">,</span> <span class="s">&quot;FURT&quot;</span><span class="p">,</span> <span class="s">&quot;&quot;</span><span class="p">,</span> <span class="s">&quot;BHZ&quot;</span><span class="p">,</span> <span class="n">file_format</span><span class="o">=</span><span class="s">&quot;StationXML&quot;</span><span class="p">)</span>        
<span class="go">&#39;/.../stationxml/BW_FURT.xml&#39;</span>
</pre></div>
</div>
</dd></dl>

<dl class="method">
<dt id="lasif.components.stations.StationsComponent.has_channel">
<code class="descname">has_channel</code><span class="sig-paren">(</span><em>channel_id</em>, <em>time</em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/stations.html#StationsComponent.has_channel"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.stations.StationsComponent.has_channel" title="Permalink to this definition">¶</a></dt>
<dd><p>Boolean test if information for the given channel and time is
available.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first last simple">
<li><strong>channel_id</strong> (<a class="reference external" href="http://docs.python.org/library/functions.html#str" title="(in Python v2.7)"><em>str</em></a>) &#8211; The id of the channel.</li>
<li><strong>time</strong> (<code class="docutils literal"><span class="pre">int</span></code> or <a class="reference external" href="http://docs.obspy.org/packages/autogen/obspy.core.utcdatetime.UTCDateTime.html#obspy.core.utcdatetime.UTCDateTime" title="(in ObsPy Documentation (0.10.2) v0.10)"><code class="xref py py-class docutils literal"><span class="pre">UTCDateTime</span></code></a>) &#8211; The time at which to retrieve the information.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="kn">from</span> <span class="nn">obspy</span> <span class="kn">import</span> <span class="n">UTCDateTime</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">comm</span> <span class="o">=</span> <span class="n">getfixture</span><span class="p">(</span><span class="s">&#39;stations_comm&#39;</span><span class="p">)</span>
</pre></div>
</div>
<p>It works with <a class="reference external" href="http://docs.obspy.org/packages/autogen/obspy.core.utcdatetime.UTCDateTime.html#obspy.core.utcdatetime.UTCDateTime" title="(in ObsPy Documentation (0.10.2) v0.10)"><code class="xref py py-class docutils literal"><span class="pre">UTCDateTime</span></code></a> objects</p>
<div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="n">comm</span><span class="o">.</span><span class="n">stations</span><span class="o">.</span><span class="n">has_channel</span><span class="p">(</span><span class="s">&#39;IU.ANMO.10.BHZ&#39;</span><span class="p">,</span>
<span class="gp">... </span>                          <span class="n">UTCDateTime</span><span class="p">(</span><span class="mi">2012</span><span class="p">,</span> <span class="mi">3</span><span class="p">,</span> <span class="mi">14</span><span class="p">))</span>
<span class="go">True</span>
</pre></div>
</div>
<p>and timestamps.</p>
<div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="n">comm</span><span class="o">.</span><span class="n">stations</span><span class="o">.</span><span class="n">has_channel</span><span class="p">(</span><span class="s">&#39;IU.ANMO.10.BHZ&#39;</span><span class="p">,</span> <span class="mi">1331683200</span><span class="p">)</span>
<span class="go">True</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">comm</span><span class="o">.</span><span class="n">stations</span><span class="o">.</span><span class="n">has_channel</span><span class="p">(</span><span class="s">&#39;AA.BB.CC.DD&#39;</span><span class="p">,</span> <span class="mi">1331683200</span><span class="p">)</span>
<span class="go">False</span>
</pre></div>
</div>
</dd></dl>

<dl class="attribute">
<dt id="lasif.components.stations.StationsComponent.total_file_size">
<code class="descname">total_file_size</code><a class="headerlink" href="#lasif.components.stations.StationsComponent.total_file_size" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns the filesize sum of all station files.</p>
</dd></dl>

</dd></dl>

</div>


           </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="waveforms.html" class="btn btn-neutral float-right" title="WaveformsComponent" accesskey="n">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="iterations.html" class="btn btn-neutral" title="IterationsComponent" accesskey="p"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2014, Lion Krischer &amp; Andreas Fichtner.

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../',
            VERSION:'0.0.1',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="../_static/jquery.js"></script>
      <script type="text/javascript" src="../_static/underscore.js"></script>
      <script type="text/javascript" src="../_static/doctools.js"></script>
      <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  

  
  
    <script type="text/javascript" src="../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>