

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>WaveformsComponent &mdash; LASIF 0.0.1 documentation</title>
  

  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  

  

  
    <link rel="top" title="LASIF 0.0.1 documentation" href="../index.html"/>
        <link rel="up" title="API Components" href="components.html"/>
        <link rel="next" title="QueryComponent" href="query.html"/>
        <link rel="prev" title="StationsComponent" href="stations.html"/> 

  
  <script src="../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-nav-search">
        

        
          <a href="../index.html" class="icon icon-home"> LASIF
        

        
        </a>

        
          
          
            <div class="version">
              0.0.1
            </div>
          
        

        
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

        
      </div>

      <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
        
          
          
              <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../prerequisites.html">Installation, Testing &amp; DevInfo</a></li>
<li class="toctree-l1"><a class="reference internal" href="../introduction.html">Introduction</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tutorial.html">Tutorial</a></li>
<li class="toctree-l1"><a class="reference internal" href="../cli.html">Command Line Interface</a></li>
<li class="toctree-l1"><a class="reference internal" href="../webinterface.html">Web Interface</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../api_doc.html">API Documentation</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../iris2quakeml.html">lasif.scripts.iris2quakeml</a></li>
<li class="toctree-l2"><a class="reference internal" href="../ses3d_setup_helper.html">SES3D Setup Assistant</a></li>
<li class="toctree-l2"><a class="reference internal" href="../iteration_xml.html">lasif.iteration_xml</a></li>
<li class="toctree-l2"><a class="reference internal" href="../rotations.html">lasif.rotations</a></li>
<li class="toctree-l2"><a class="reference internal" href="../window_selection.html">lasif.window_selection</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tools.html">lasif.tools</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tools.parallel.html">lasif.tools.parallel</a></li>
<li class="toctree-l2"><a class="reference internal" href="../tools.file_info_cache.html">lasif.tools.file_info_cache</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="components.html">API Components</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="events.html">EventsComponent</a></li>
<li class="toctree-l3"><a class="reference internal" href="inventory_db.html">InventoryDBComponent</a></li>
<li class="toctree-l3"><a class="reference internal" href="iterations.html">IterationsComponent</a></li>
<li class="toctree-l3"><a class="reference internal" href="stations.html">StationsComponent</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="">WaveformsComponent</a></li>
<li class="toctree-l3"><a class="reference internal" href="query.html">QueryComponent</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../how_lasif_finds_coordinates.html">How LASIF Finds Coordinates</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../faq.html">FAQ</a></li>
</ul>

          
        
      </div>
      &nbsp;
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="../index.html">LASIF</a>
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          





<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="../index.html">Docs</a> &raquo;</li>
      
          <li><a href="../api_doc.html">API Documentation</a> &raquo;</li>
      
          <li><a href="components.html">API Components</a> &raquo;</li>
      
    <li>WaveformsComponent</li>
      <li class="wy-breadcrumbs-aside">
        
          
            <a href="../_sources/components/waveforms.txt" rel="nofollow"> View page source</a>
          
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="waveformscomponent">
<h1>WaveformsComponent<a class="headerlink" href="#waveformscomponent" title="Permalink to this headline">¶</a></h1>
<dl class="class">
<dt id="lasif.components.waveforms.WaveformsComponent">
<em class="property">class </em><code class="descclassname">lasif.components.waveforms.</code><code class="descname">WaveformsComponent</code><span class="sig-paren">(</span><em>data_folder</em>, <em>synthetics_folder</em>, <em>communicator</em>, <em>component_name</em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/waveforms.html#WaveformsComponent"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.waveforms.WaveformsComponent" title="Permalink to this definition">¶</a></dt>
<dd><p>Component managing the waveform data.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first last simple">
<li><strong>data_folder</strong> &#8211; The data folder in a LASIF project.</li>
<li><strong>synthetics_folder</strong> &#8211; The synthetics folder in a LASIF project.</li>
<li><strong>communicator</strong> &#8211; The communicator instance.</li>
<li><strong>component_name</strong> &#8211; The name of this component for the communicator.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<dl class="method">
<dt id="lasif.components.waveforms.WaveformsComponent.get_available_processing_tags">
<code class="descname">get_available_processing_tags</code><span class="sig-paren">(</span><em>event_name</em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/waveforms.html#WaveformsComponent.get_available_processing_tags"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.waveforms.WaveformsComponent.get_available_processing_tags" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns the available processing tags for a given event.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><strong>event_name</strong> &#8211; The event name.</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="method">
<dt id="lasif.components.waveforms.WaveformsComponent.get_available_synthetics">
<code class="descname">get_available_synthetics</code><span class="sig-paren">(</span><em>event_name</em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/waveforms.html#WaveformsComponent.get_available_synthetics"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.waveforms.WaveformsComponent.get_available_synthetics" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns the available synthetics for a given event.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><strong>event_name</strong> &#8211; The event name.</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="method">
<dt id="lasif.components.waveforms.WaveformsComponent.get_metadata_for_file">
<code class="descname">get_metadata_for_file</code><span class="sig-paren">(</span><em>absolute_filename</em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/waveforms.html#WaveformsComponent.get_metadata_for_file"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.waveforms.WaveformsComponent.get_metadata_for_file" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns the metadata for a certain file.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><strong>absolute_filename</strong> &#8211; The absolute path of the file.</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="method">
<dt id="lasif.components.waveforms.WaveformsComponent.get_metadata_processed">
<code class="descname">get_metadata_processed</code><span class="sig-paren">(</span><em>event_name</em>, <em>tag</em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/waveforms.html#WaveformsComponent.get_metadata_processed"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.waveforms.WaveformsComponent.get_metadata_processed" title="Permalink to this definition">¶</a></dt>
<dd><p>Get the processed metadata.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first last simple">
<li><strong>event_name</strong> &#8211; The name of the event.</li>
<li><strong>tag</strong> &#8211; The processing tag.</li>
</ul>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="method">
<dt id="lasif.components.waveforms.WaveformsComponent.get_metadata_processed_for_station">
<code class="descname">get_metadata_processed_for_station</code><span class="sig-paren">(</span><em>event_name</em>, <em>tag</em>, <em>station_id</em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/waveforms.html#WaveformsComponent.get_metadata_processed_for_station"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.waveforms.WaveformsComponent.get_metadata_processed_for_station" title="Permalink to this definition">¶</a></dt>
<dd><p>Get the processed metadata for a single station.</p>
<p>Same as <a class="reference internal" href="#lasif.components.waveforms.WaveformsComponent.get_metadata_processed" title="lasif.components.waveforms.WaveformsComponent.get_metadata_processed"><code class="xref py py-meth docutils literal"><span class="pre">get_metadata_processed()</span></code></a> but for a single station.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first last simple">
<li><strong>event_name</strong> &#8211; The name of the event.</li>
<li><strong>tag</strong> &#8211; The processing tag.</li>
<li><strong>station_id</strong> &#8211; The id of the station in the form <code class="docutils literal"><span class="pre">NET.STA</span></code>.</li>
</ul>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="method">
<dt id="lasif.components.waveforms.WaveformsComponent.get_metadata_raw">
<code class="descname">get_metadata_raw</code><span class="sig-paren">(</span><em>event_name</em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/waveforms.html#WaveformsComponent.get_metadata_raw"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.waveforms.WaveformsComponent.get_metadata_raw" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns the available metadata at the channel level for the raw
waveforms and the given event_name.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><strong>event_name</strong> &#8211; The name of the event.</td>
</tr>
<tr class="field-even field"><th class="field-name">Returns:</th><td class="field-body">A list of dictionaries, each describing channel level data
at a particular point in time.</td>
</tr>
</tbody>
</table>
<p>In most instances, the <code class="docutils literal"><span class="pre">latitude</span></code>, <code class="docutils literal"><span class="pre">longitude</span></code>,
<code class="docutils literal"><span class="pre">elevation_in_m</span></code>, and <code class="docutils literal"><span class="pre">local_depth_in_m</span></code> values will be
<code class="docutils literal"><span class="pre">None</span></code> as station information is usually retrieved from the
station metadata file. SAC files are an exception.</p>
<div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="kn">import</span> <span class="nn">pprint</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">comm</span> <span class="o">=</span> <span class="n">getfixture</span><span class="p">(</span><span class="s">&#39;waveforms_comm&#39;</span><span class="p">)</span>
<span class="gp">&gt;&gt;&gt; </span><span class="n">pprint</span><span class="o">.</span><span class="n">pprint</span><span class="p">(</span><span class="nb">sorted</span><span class="p">(</span><span class="n">comm</span><span class="o">.</span><span class="n">waveforms</span><span class="o">.</span><span class="n">get_metadata_raw</span><span class="p">(</span>
<span class="gp">... </span>    <span class="s">&quot;GCMT_event_TURKEY_Mag_5.1_2010-3-24-14-11&quot;</span><span class="p">),</span>
<span class="gp">... </span>    <span class="n">key</span><span class="o">=</span><span class="k">lambda</span> <span class="n">x</span><span class="p">:</span> <span class="n">x</span><span class="p">[</span><span class="s">&quot;channel_id&quot;</span><span class="p">]))</span>         
<span class="go">[{&#39;channel&#39;: u&#39;BHE&#39;,</span>
<span class="go">  &#39;channel_id&#39;: u&#39;HL.ARG..BHE&#39;,</span>
<span class="go">  &#39;elevation_in_m&#39;: None,</span>
<span class="go">  &#39;endtime&#39;: UTCDateTime(2010, 3, 24, 15, 11, 30, 974999),</span>
<span class="go">  &#39;filename&#39;: u&#39;/.../HL.ARG..BHE.mseed&#39;,</span>
<span class="go">  &#39;latitude&#39;: None,</span>
<span class="go">  &#39;local_depth_in_m&#39;: None,</span>
<span class="go">  &#39;location&#39;: u&#39;&#39;,</span>
<span class="go">  &#39;longitude&#39;: None,</span>
<span class="go">  &#39;network&#39;: u&#39;HL&#39;,</span>
<span class="go">  &#39;starttime&#39;: UTCDateTime(2010, 3, 24, 14, 6, 31, 24999),</span>
<span class="go">  &#39;station&#39;: u&#39;ARG&#39;},</span>
<span class="go"> {...},</span>
<span class="go">...]</span>
</pre></div>
</div>
<p>Each dictionary will have the following keys.</p>
<div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="nb">sorted</span><span class="p">(</span><span class="n">comm</span><span class="o">.</span><span class="n">waveforms</span><span class="o">.</span><span class="n">get_metadata_raw</span><span class="p">(</span>
<span class="gp">... </span>    <span class="s">&quot;GCMT_event_TURKEY_Mag_5.1_2010-3-24-14-11&quot;</span><span class="p">)[</span><span class="mi">0</span><span class="p">]</span><span class="o">.</span><span class="n">keys</span><span class="p">())</span>         
<span class="go">[&#39;channel&#39;, &#39;channel_id&#39;, &#39;elevation_in_m&#39;, &#39;endtime&#39;,</span>
<span class="go"> &#39;filename&#39;, &#39;latitude&#39;, &#39;local_depth_in_m&#39;, &#39;location&#39;,</span>
<span class="go"> &#39;longitude&#39;, &#39;network&#39;, &#39;starttime&#39;, &#39;station&#39;]</span>
</pre></div>
</div>
<p>A <a class="reference internal" href="../api_doc.html#lasif.LASIFNotFoundError" title="lasif.LASIFNotFoundError"><code class="xref py py-class docutils literal"><span class="pre">LASIFNotFoundError</span></code></a> will be raised, if no raw
waveform data is found for the specified event.</p>
<div class="highlight-python"><div class="highlight"><pre><span class="gp">&gt;&gt;&gt; </span><span class="n">comm</span><span class="o">.</span><span class="n">waveforms</span><span class="o">.</span><span class="n">get_metadata_raw</span><span class="p">(</span><span class="s">&quot;RandomEvent&quot;</span><span class="p">)</span>
<span class="gt">Traceback (most recent call last):</span>
    <span class="o">...</span>
<span class="gr">LASIFNotFoundError</span>: <span class="n">...</span>
</pre></div>
</div>
</dd></dl>

<dl class="method">
<dt id="lasif.components.waveforms.WaveformsComponent.get_metadata_raw_for_station">
<code class="descname">get_metadata_raw_for_station</code><span class="sig-paren">(</span><em>event_name</em>, <em>station_id</em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/waveforms.html#WaveformsComponent.get_metadata_raw_for_station"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.waveforms.WaveformsComponent.get_metadata_raw_for_station" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns the available metadata at the channel level for the raw
waveforms and the given event_name at a certain station.</p>
<p>Same as <a class="reference internal" href="#lasif.components.waveforms.WaveformsComponent.get_metadata_raw" title="lasif.components.waveforms.WaveformsComponent.get_metadata_raw"><code class="xref py py-meth docutils literal"><span class="pre">get_metadata_raw()</span></code></a> just for only a single station.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first simple">
<li><strong>event_name</strong> &#8211; The name of the event.</li>
<li><strong>station_id</strong> &#8211; The station id.</li>
</ul>
</td>
</tr>
<tr class="field-even field"><th class="field-name">Returns:</th><td class="field-body"><p class="first last">A list of dictionaries, each describing channel level data
at a particular point in time.</p>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="method">
<dt id="lasif.components.waveforms.WaveformsComponent.get_metadata_synthetic">
<code class="descname">get_metadata_synthetic</code><span class="sig-paren">(</span><em>event_name</em>, <em>long_iteration_name</em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/waveforms.html#WaveformsComponent.get_metadata_synthetic"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.waveforms.WaveformsComponent.get_metadata_synthetic" title="Permalink to this definition">¶</a></dt>
<dd><p>Get the synthetics metadata.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first last simple">
<li><strong>event_name</strong> &#8211; The name of the event.</li>
<li><strong>long_iteration_name</strong> &#8211; The long form of the iteration name.</li>
<li><strong>station_id</strong> &#8211; The id of the station in the form <code class="docutils literal"><span class="pre">NET.STA</span></code>.</li>
</ul>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="method">
<dt id="lasif.components.waveforms.WaveformsComponent.get_metadata_synthetic_for_station">
<code class="descname">get_metadata_synthetic_for_station</code><span class="sig-paren">(</span><em>event_name</em>, <em>long_iteration_name</em>, <em>station_id</em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/waveforms.html#WaveformsComponent.get_metadata_synthetic_for_station"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.waveforms.WaveformsComponent.get_metadata_synthetic_for_station" title="Permalink to this definition">¶</a></dt>
<dd><p>Get the synthetics metadata for a single station.</p>
<p>Same as <a class="reference internal" href="#lasif.components.waveforms.WaveformsComponent.get_metadata_synthetic" title="lasif.components.waveforms.WaveformsComponent.get_metadata_synthetic"><code class="xref py py-meth docutils literal"><span class="pre">get_metadata_synthetic()</span></code></a> but for a single station.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first last simple">
<li><strong>event_name</strong> &#8211; The name of the event.</li>
<li><strong>long_iteration_name</strong> &#8211; The long form of the iteration name.</li>
<li><strong>station_id</strong> &#8211; The id of the station in the form <code class="docutils literal"><span class="pre">NET.STA</span></code>.</li>
</ul>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="method">
<dt id="lasif.components.waveforms.WaveformsComponent.get_waveform_cache">
<code class="descname">get_waveform_cache</code><span class="sig-paren">(</span><em>event_name</em>, <em>data_type</em>, <em>tag_or_iteration=None</em>, <em>dont_update=False</em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/waveforms.html#WaveformsComponent.get_waveform_cache"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.waveforms.WaveformsComponent.get_waveform_cache" title="Permalink to this definition">¶</a></dt>
<dd><table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first last simple">
<li><strong>event_name</strong> &#8211; The name of the event.</li>
<li><strong>data_type</strong> &#8211; The data type.</li>
<li><strong>tag_or_iteration</strong> &#8211; If processed data, the tag, if synthetic
data, the iteration.</li>
<li><strong>dont_update</strong> &#8211; If True, an existing cache will not be updated
but returned as is. If it does not exist, it will be updated
regardless.</li>
</ul>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="method">
<dt id="lasif.components.waveforms.WaveformsComponent.get_waveform_folder">
<code class="descname">get_waveform_folder</code><span class="sig-paren">(</span><em>event_name</em>, <em>data_type</em>, <em>tag_or_iteration=None</em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/waveforms.html#WaveformsComponent.get_waveform_folder"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.waveforms.WaveformsComponent.get_waveform_folder" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns the folder where the waveforms are stored.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first last simple">
<li><strong>event_name</strong> &#8211; Name of the event.</li>
<li><strong>data_type</strong> &#8211; The type of data, one of <code class="docutils literal"><span class="pre">&quot;raw&quot;</span></code>,
<code class="docutils literal"><span class="pre">&quot;processed&quot;</span></code>, <code class="docutils literal"><span class="pre">&quot;synthetic&quot;</span></code></li>
<li><strong>tag_or_iteration</strong> &#8211; The processing tag or iteration name if any.</li>
</ul>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="method">
<dt id="lasif.components.waveforms.WaveformsComponent.get_waveforms_processed">
<code class="descname">get_waveforms_processed</code><span class="sig-paren">(</span><em>event_name</em>, <em>station_id</em>, <em>tag</em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/waveforms.html#WaveformsComponent.get_waveforms_processed"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.waveforms.WaveformsComponent.get_waveforms_processed" title="Permalink to this definition">¶</a></dt>
<dd><p>Gets the processed waveforms for the given event and station as a
<a class="reference external" href="http://docs.obspy.org/packages/autogen/obspy.core.stream.Stream.html#obspy.core.stream.Stream" title="(in ObsPy Documentation (0.10.2) v0.10)"><code class="xref py py-class docutils literal"><span class="pre">Stream</span></code></a> object.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first last simple">
<li><strong>event_name</strong> &#8211; The name of the event.</li>
<li><strong>station_id</strong> &#8211; The id of the station in the form <code class="docutils literal"><span class="pre">NET.STA</span></code>.</li>
<li><strong>tag</strong> &#8211; The processing tag.</li>
</ul>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="method">
<dt id="lasif.components.waveforms.WaveformsComponent.get_waveforms_raw">
<code class="descname">get_waveforms_raw</code><span class="sig-paren">(</span><em>event_name</em>, <em>station_id</em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/waveforms.html#WaveformsComponent.get_waveforms_raw"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.waveforms.WaveformsComponent.get_waveforms_raw" title="Permalink to this definition">¶</a></dt>
<dd><p>Gets the raw waveforms for the given event and station as a
<a class="reference external" href="http://docs.obspy.org/packages/autogen/obspy.core.stream.Stream.html#obspy.core.stream.Stream" title="(in ObsPy Documentation (0.10.2) v0.10)"><code class="xref py py-class docutils literal"><span class="pre">Stream</span></code></a> object.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first last simple">
<li><strong>event_name</strong> &#8211; The name of the event.</li>
<li><strong>station_id</strong> &#8211; The id of the station in the form <code class="docutils literal"><span class="pre">NET.STA</span></code>.</li>
</ul>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="method">
<dt id="lasif.components.waveforms.WaveformsComponent.get_waveforms_synthetic">
<code class="descname">get_waveforms_synthetic</code><span class="sig-paren">(</span><em>event_name</em>, <em>station_id</em>, <em>long_iteration_name</em><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/waveforms.html#WaveformsComponent.get_waveforms_synthetic"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.waveforms.WaveformsComponent.get_waveforms_synthetic" title="Permalink to this definition">¶</a></dt>
<dd><p>Gets the synthetic waveforms for the given event and station as a
<a class="reference external" href="http://docs.obspy.org/packages/autogen/obspy.core.stream.Stream.html#obspy.core.stream.Stream" title="(in ObsPy Documentation (0.10.2) v0.10)"><code class="xref py py-class docutils literal"><span class="pre">Stream</span></code></a> object.</p>
<table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Parameters:</th><td class="field-body"><ul class="first last simple">
<li><strong>event_name</strong> &#8211; The name of the event.</li>
<li><strong>station_id</strong> &#8211; The id of the station in the form <code class="docutils literal"><span class="pre">NET.STA</span></code>.</li>
<li><strong>long_iteration_name</strong> &#8211; The long form of an iteration name.</li>
</ul>
</td>
</tr>
</tbody>
</table>
</dd></dl>

<dl class="method">
<dt id="lasif.components.waveforms.WaveformsComponent.reset_cached_caches">
<code class="descname">reset_cached_caches</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="reference internal" href="../_modules/lasif/components/waveforms.html#WaveformsComponent.reset_cached_caches"><span class="viewcode-link">[source]</span></a><a class="headerlink" href="#lasif.components.waveforms.WaveformsComponent.reset_cached_caches" title="Permalink to this definition">¶</a></dt>
<dd><p>The waveform component caches the actual waveform caches to make its
access instant. This is usually ok, but sometimes new data is added
while the same instance of LASIF is still active. Thus the cached
caches need to be reset at times.</p>
</dd></dl>

</dd></dl>

</div>


           </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="query.html" class="btn btn-neutral float-right" title="QueryComponent" accesskey="n">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="stations.html" class="btn btn-neutral" title="StationsComponent" accesskey="p"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2014, Lion Krischer &amp; Andreas Fichtner.

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>.

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../',
            VERSION:'0.0.1',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true
        };
    </script>
      <script type="text/javascript" src="../_static/jquery.js"></script>
      <script type="text/javascript" src="../_static/underscore.js"></script>
      <script type="text/javascript" src="../_static/doctools.js"></script>
      <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  

  
  
    <script type="text/javascript" src="../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>