<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close"
                        ng-click="$hide()">&times;</button>
                <h4 class="modal-title">Station {{title}}</h4>
            </div>
            <div class="modal-body" ng-controller="waveformPlotController">
                <div class="row">
                    <div class="col-md-4">
                        <dl class="dl-horizontal">
                            <dt>Latitude</dt>
                            <dd>{{$parent.station.latitude|number:2}}&deg;</dd>
                            <dt>Longitude</dt>
                            <dd>
                                {{$parent.station.longitude|number:2}}&deg;</dd>
                            <dt>Elevation</dt>
                            <dd>{{$parent.station.elevation_in_m|number:1}} m
                            </dd>
                            <dt>Local Depth</dt>
                            <dd>{{($parent.station.local_depth_in_m|number:1)
                                || 0}}
                                m
                            </dd>
                        </dl>
                        <h4>Available Data</h4>

                        <form>
                            <input type="checkbox"
                                   ng-disabled="downloadInProgress"
                                   ng-model="availableData.raw[0].show">
                            <small>
                                <span ng-repeat="comp in availableData.raw[0].components">
                                    <kbd>{{comp}}</kbd>
                                </span>
                            </small>
                            <span style="font-size: larger; color: {{tag_color_map.raw}}">
                                &#9632
                            </span>
                            <small>Raw Data</small>
                        </form>

                        <h6>Processed Data</h6>

                        <form ng-repeat="data in availableData.processed">
                            <input type="checkbox"
                                   ng-disabled="downloadInProgress"
                                   ng-model="data.show">
                            <small>
                                <span ng-repeat="comp in data.components">
                                    <kbd>{{comp}}</kbd>
                                </span>
                            </small>
                            <span style="font-size: larger; color: {{tag_color_map[data.tag]}}">
                                &#9632
                            </span>
                            <small>{{data.tag}}</small>
                        </form>
                        <h6>Synthetic Data</h6>

                        <form ng-repeat="data in availableData.synthetic">
                            <input type="checkbox"
                                   ng-disabled="downloadInProgress"
                                   ng-model="data.show">
                            <small>
                                <span ng-repeat="comp in data.components">
                                    <kbd>{{comp}}</kbd>
                                </span>
                            </small>
                            <span style="font-size: larger; color: {{tag_color_map[data.tag]}}">
                                &#9632
                            </span>
                            <small>Iteration {{data.tag}}</small>
                        </form>

                        <div class="spinner" ng-show="downloadInProgress">
                            <div class="cube1"></div>
                            <div class="cube2"></div>
                        </div>

                    </div>

                    <div class="col-md-8">
                        <nvd3-line-chart
                                style="margin-left: 100px"
                                data="dataZ"
                                yAxisLabel="Vertical"
                                yAxisLabelDistance="60"
                                id="z_data"
                                height="200"
                                color="colorFunction()"
                                xAxisTickFormat="xAxisTickFormatFunction()"
                                yAxisTickFormat="yAxisTickFormatFunction()"
                                showXAxis="true"
                                showYAxis="true"
                                noData="No Data for Vertical Component">
                        </nvd3-line-chart>
                        <nvd3-line-chart
                                data="dataN"
                                title="N"
                                yAxisLabel="North"
                                yAxisLabelDistance="60"
                                id="n_data"
                                height="200"
                                color="colorFunction()"
                                xAxisTickFormat="xAxisTickFormatFunction()"
                                yAxisTickFormat="yAxisTickFormatFunction()"
                                showXAxis="true"
                                showYAxis="true"
                                noData="No Data for Northern Component">
                            <svg></svg>
                        </nvd3-line-chart>
                        <nvd3-line-chart
                                data="dataE"
                                id="e_data"
                                yAxisLabel="East"
                                yAxisLabelDistance="60"
                                xAxisTickFormat="xAxisTickFormatFunction()"
                                yAxisTickFormat="yAxisTickFormatFunction()"
                                color="colorFunction()"
                                height="200"
                                showXAxis="true"
                                showYAxis="true"
                                noData="No Data for Eastern Component">
                            <svg></svg>
                        </nvd3-line-chart>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        ng-click="$hide()">Close
                </button>
            </div>
        </div>
    </div>
</div>